<header class="bg-transparent position-absolute w-100">
  <nav class="navbar navbar-expand-md navbar-light">
    <div class="container-xl">
      <a class="navbar-brand d-lg-none fw-bold fs-4 text-white" href="#">SoundStream</a>

      <!-- Botón Hamburguesa -->
      <button class="navbar-toggler border-0" type="button" data-bs-toggle="offcanvas"
              data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar"
              aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars text-white fs-3"></i>
      </button>

      <!-- Menú offcanvas -->
      <div class="offcanvas offcanvas-start bg-dark text-white-lg-none d-lg-flex d-block w-100"
           tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel" #offcanvasNavbar>
        <div class="offcanvas-header d-lg-none">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
                  aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav gap-3 text-white ms-auto text-lg-start text-center">
            <li class="nav-item"><a class="nav-link text-white" (click)="closeMenu()" routerLink="/create">Create</a></li>
            <li class="nav-item"><a class="nav-link text-white" (click)="closeMenu()" routerLink="/library">Library</a></li>
            <li class="nav-item"><a class="nav-link text-white" (click)="closeMenu()" routerLink="/pricing">Pricing</a></li>
            <li class="nav-item">
              <a class="btn btn-outline-light" (click)="closeMenu()" routerLink="/login">Log in</a>
            </li>
            <li class="nav-item">
              <a class="btn btn-secondary text-white" (click)="closeMenu()" routerLink="/register">Start Free Now</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>
