<div class="card bg-dark text-white p-3 rounded panel-container">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h6 class="fw-bold mb-0">Instruments</h6>
<!--    <button class="btn btn-sm btn-outline-light p-1">-->
<!--      <i class="fas fa-trash-alt"></i>-->
<!--    </button>-->
  </div>
  <div class="d-flex flex-column gap-2 w-100">
      <div *ngFor="let gear of gears"
           class="gear-row"
           [ngClass]="{
         'bg-primary bg-opacity-25': gear.quantity > 0,
         'bg-secondary bg-opacity-25': gear.quantity === 0
       }">
        <div class="d-flex justify-content-between align-items-center w-100 px-2 py-2">
          <span class="fw-semibold me-3 small text-truncate" style="width: 60px;">{{ gear.name }}</span>
          <div class="d-flex align-items-center gap-1">
            <button class="btn btn-outline-light btn-sm py-0 px-2 rounded-1" style="width: 24px; height: 24px;" (click)="decrease(gear)">–</button>
            <span class="px-1 small">{{ gear.quantity }}</span>
            <button class="btn btn-outline-light btn-sm py-0 px-2 rounded-1" style="width: 24px; height: 24px;" (click)="increase(gear)">+</button>
          </div>
        </div></div>
    </div>
</div>
