<div class="card bg-dark text-white p-3 rounded panel-container">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h6 class="fw-bold mb-0">Structure</h6>
<!--    <button class="btn btn-sm btn-outline-light p-1">-->
<!--      <i class="fas fa-trash-alt"></i>-->
<!--    </button>-->
  </div>

  <div *ngFor="let structure of structures"
       class="structure-box p-2 rounded"
       [ngClass]="{ 'selected': selectedStructure === structure }"
       (click)="selectStructure(structure)">
    <div class="d-flex align-items-end gap-1">
      <div *ngFor="let height of structure.pattern"
           class="bar bg-white"
           [style.height.px]="height"
           [style.width.px]="3">
      </div>
    </div>
  </div>
</div>
