<body [class.bg-primary-gradient]="!isMusicRoute()"
      [class.bg-dark]="isMusicRoute()"
      class="d-flex flex-column">

<div class="d-flex flex-column min-vh-100">
  <!-- Header -->
  <app-header class="position-relative z-3"></app-header>

  <!-- Contenido principal -->
  <main class="flex-grow-1 d-flex align-items-center justify-content-center">
    <router-outlet></router-outlet>
  </main>

  <!-- Footer (solo en rutas que no son /library ni /music) -->
  <app-footer *ngIf="!hideFooterRoutes()" class="bg-dark text-white text-center z-3"></app-footer>
</div>
</body>
